body{
  margin: 0;
  padding: 0;
  background-color: rgb(199, 151, 63);
  background-image: url("./assets/background_1.png");
  background-position: right bottom;
  background-size: 1920px;
}

ul{
  list-style-type: none;
  text-align: center;
  margin-top: 20%;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url("./assets/background_1.png");
  background-size: cover;
}

* { padding: 0; margin: 0; }

.menu {
  background-color: blue;
  height: 440px;
  width: 700px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 5px;
}
.caption {
  padding: 5px;
  background-color: #fff;
  margin: -5px;
}
.play {
  padding: 5px;
  margin: 20px;
  background-color: rgb(109, 61, 61);
  border-radius: 20px;
}
.play:hover {
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgb(68, 177, 122);
}
.options {
  padding: 5px;
  margin: 20px;
  background-color: rgb(109, 61, 61);
  border-radius: 20px;
}
.options:hover {
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgb(68, 177, 122);
}
.about {
  padding: 5px;
  margin: 20px;
  background-color: rgb(109, 61, 61);
  border-radius: 20px;
}
.about:hover {
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgb(68, 177, 122);
}

.hero {
  background-image: url(./assets/hero.gif);
    bottom: 130px;
    left: 300px;
    align-items: center;
    position: absolute;
}

.enemy {
  background-image: url(./assets/enemy.gif);
    bottom: 130px;
    right: 300px;
    align-items: center;
    position: absolute;
}

/*.heroCharacteristics {
  
}

.enemyCharacteristics {
  
}*/

h1 {
  color: aqua;
  text-align: center;
  top: 100px;
}

.card {
  background-image: url("./assets/Attack.png");
  height: 100px;
  width: 140px;
  position: relative;
}

button {
  background-color: rgba(0, 125, 215, 0);
  border: none;
}

#everything {  
  position: fixed;
  height: 100%;
  width: 100%;
}

#chooseHero {
  margin: 0 auto;
  margin-top: 15%;
  overflow: hidden;
  width: 20%;
}

#gameField {  
  position: fixed;
  height: 100%;
  width: 100%;
}

#handCardOnScreen {  
  top: 100px;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#heroParams {
  background-image: url(./assets/scroll.png);
  height: 150px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

#enemyParams {
  background-image: url(./assets/scroll.png);
  height: 150px;
  width: 100px;
  position: absolute;
  right: 100px;
  top: 100px;
}

#endMove {
  height: 54px;
  width: 100px;
  position: absolute;
  bottom: 70px;
  right: 120px;
  background-image: url(./assets/next.png);
}

.chooseHappening {
  position: absolute;
  top: 20%;
  left: 33%;
  background-color: gray;
  width: 400px;
  height: 300px;
}

.leftButton {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 30;
}

.rightButton {  
  position: absolute;
  bottom: 20px;
  left: 230px;
  font-size: 30;
}